@tailwind base;
@tailwind components;
@tailwind utilities;

::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 1.5s;
}

::view-transition-new(root) {
	animation-name: translateIn;
}

::view-transition-old(root) {
	animation-name: translateOut;
}

@keyframes translateIn {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes translateOut {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(100%);
		opacity: 0;
	}
}
